vti_encoding:SR|utf8-nl
vti_author:SR|ITECH001\\simon
vti_timecreated:TR|11 Jun 2007 04:13:21 -0000
vti_timelastmodified:TR|16 Dec 2007 16:06:38 -0000
vti_extenderversion:SR|5.0.2.6738
vti_backlinkinfo:VX|
vti_lineageid:SR|{DBA5F560-10F8-4A64-9ABF-A2E53DACE24F}
vti_cacheddtm:TX|16 Dec 2007 16:06:38 -0000
vti_filesize:IR|4256
vti_cachedlinkinfo:VX|S|../../images/hr.gif
vti_cachedsvcrellinks:VX|FSUS|en/images/hr.gif
