vti_encoding:SR|utf8-nl
vti_author:SR|ITECH001\\simon
vti_timecreated:TR|11 Jun 2007 04:13:22 -0000
vti_timelastmodified:TR|13 Jun 2008 15:15:14 -0000
vti_extenderversion:SR|5.0.2.6738
vti_backlinkinfo:VX|
vti_lineageid:SR|{A1EBC031-9359-49E9-985F-02DC32EF4B4F}
vti_cacheddtm:TX|13 Jun 2008 15:15:14 -0000
vti_filesize:IR|4240
vti_cachedlinkinfo:VX|S|../../images/hr.gif
vti_cachedsvcrellinks:VX|FSUS|en/images/hr.gif
