vti_encoding:SR|utf8-nl
vti_author:SR|ITECH001\\simon
vti_timecreated:TR|11 Jun 2007 04:13:22 -0000
vti_timelastmodified:TR|16 Dec 2007 16:06:38 -0000
vti_extenderversion:SR|5.0.2.6738
vti_backlinkinfo:VX|
vti_lineageid:SR|{13DEA9E5-55FD-469B-860D-4A0C3B1D7CA1}
vti_cacheddtm:TX|16 Dec 2007 16:06:38 -0000
vti_filesize:IR|4256
vti_cachedlinkinfo:VX|S|../../images/hr.gif
vti_cachedsvcrellinks:VX|FSUS|en/images/hr.gif
