vti_encoding:SR|utf8-nl
vti_author:SR|ITECH001\\simon
vti_timecreated:TR|11 Jun 2007 04:13:22 -0000
vti_timelastmodified:TR|15 Sep 2007 02:30:06 -0000
vti_extenderversion:SR|5.0.2.6738
vti_backlinkinfo:VX|
vti_lineageid:SR|{904660B8-3B19-43BD-ABF9-D19BED45F6C5}
vti_cacheddtm:TX|15 Sep 2007 02:30:06 -0000
vti_filesize:IR|4248
vti_cachedlinkinfo:VX|S|../../images/hr.gif
vti_cachedsvcrellinks:VX|FSUS|en/images/hr.gif
